<footer class="site-footer">
    <a href="https://github.com/sanikamnjoshi" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/brands/github.svg" width="20" height="10">
    </a>
    
    <a href="https://www.linkedin.com/in/sanikamnjoshi" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/brands/linkedin.svg" width="20" height="10">
    </a>
    
    <a href="https://www.goodreads.com/sanikamnjoshi" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/brands/goodreads.svg" width="20" height="10">
    </a>
    <br>
    These are my only public profiles.
    <br>
    If you find me anywhere else, it probably isn't me.
</footer>
